<!DOCTYPE html>
<html>
<head>
    <title>FPGA Telemetry Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<h1>FPGA Telemetry Bot Control Web UI</h1>
<p>Select a tab to control the robot:</p>

<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#robot-drive-menu">Drive Control Menu</a></li>
    <li><a data-toggle="tab" href="#image-processing-menu">Image Processing</a></li>
    <li><a data-toggle="tab" href="#uart-test-menu">Test UART Tx/Rx</a></li>
    <li><a data-toggle="tab" href="#about-page">About the Project</a></li>
  </ul>

  <div class="tab-content">
    <div id="robot-drive-menu" class="tab-pane fade">
      <h2>Drive Control Menu</h2>
      <p>Press the buttons below to drive the robot:</p>
      <form method="post" action="/#robot-drive-menu">
        <input type="submit" class="button" name="Forward" value="Forward"></button>
        <input type="submit" class="button" name="Backward" value="Backward"></button>
      </form> 
    </div>

    <div id="image-processing-menu" class="tab-pane fade">
      <h2>Spatial Filter Menu</h2>
      <p>This section contains the controls for applying a spatial filter to an image.</p>
      <h3>Select a filter to apply:</h3>
      <form method="POST" action="/#image-processing-menu">
      <select class="image-filter" name="image-filter" style="text-align: center;">
        <option disabled hidden selected value>Choose Spatial Filter</option>
        <option value="Grayscale">Grayscale</option>
        <option value="Smoothing">Smoothing</option>
        <option value="Edge Detection">Edge Detection</option>
        <option value="Image Inversion">Image Inversion</option>
      </select>
      <h3>Current Selected Spatial Filter: </h3>
      <p name="return image spatial filter" id = "return image spatial filter"></p>
        <input type="submit" class="button" name="Apply Spatial Filter" value="Apply Spatial Filter"></button>
      </form>
      <h2>Applied Spatial Filter:</h2>
      <h3>{{ applied_filter }}</h3>
      <div class="flexbox-container" style="display:flex; margin-bottom: 50px;">
        <div class="sidebar" style="flex:1;">
          <h4>Input Image:</h4>
          <img src="{{ input_image_src }}" alt="Input Image">
        </div>
        <div class="main" style="flex:1; margin-left:40px;">
          <h4>Output Image:</h4>
          <img src="{{ output_image_src }}" alt="Output Image">
        </div>
      </div>
    </div>

    <div id="uart-test-menu" class="tab-pane fade">
      <h2>UART Test</h2>
      <p>This section contains options to test the UART communication between the FPGA and the Raspberry Pi.</p>
      <h3>Full Duplex Tests:</h3>
      <form method="post" action="/#uart-test-menu">
        <p>Writes and reads values from 0 to 255.</p>
        <input type="submit" class="button" name="Test UART Loopback 1" value="Test UART Loopback 1"></button>
        <p>Writes and reads random values from 0 to 255.</p>
        <input type="submit" class="button" name="Test UART Loopback 2" value="Test UART Loopback 2"></button>
      </form>
      <p>To stop data transmission, press the button below:</p>
      <form method="post" action="/#uart-test-menu">
        <input type="submit" class="button" style="background-color: #971b1b;" name="Stop Data Transmission" value="Stop Data Transmission"></button>
      </form>
      </div>

    <div id="about-page" class="tab-pane fade">
      <h3>FPGA Telemetry Bot Description</h3>
      <p>This section contains the description for the FPGA Telemetry Bot project.</p>
    </div>
  </div>
</div>
<script>
/***** Start of Button Section *****/
function toggle_push_button(input_from_pushbutton)
{
  var http_request_data = newXMLHttpRequest();
  http_request_data.open("GET", "/", true);
  http_request_data.send();
}
/***** End of Button Section *****/

/***** Start of Drop-Down Menu Section *****/
function drop_down_event_listener()
{
  // Spatial Filter Event Listener
  var selected_spatial_filter = document.querySelector('.image-filter');
  var spatial_result = document.getElementById('return image spatial filter');

  selected_spatial_filter.addEventListener('change', (event) => {
  spatial_result.textContent = `${event.target.value}`;
  });
}

  $(document).ready(function(){
    var anchorHash = window.location.href.toString();
    if( anchorHash.lastIndexOf('#') != -1 ) {
        anchorHash = anchorHash.substr(anchorHash.lastIndexOf('#'));
        if( $('a[href="'+ anchorHash +'"]').length > 0 ) {
            $('a[href="'+ anchorHash +'"]').trigger('click');
        }
    }
});
  drop_down_event_listener();
</script>
   
</body>
</html> 
